body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}
.conteiner{
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0px 2rem;
}
.hero-images{
    max-width: 100%;
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 41px;
    outline: 4px solid red;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu a:link{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.menu a:hover{
    color: red;
}
.button{
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    border-radius: 10px;
}
.image-fluid{
    max-width: 100%;
}
.active{
    color: red !important;
}
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
}
.info-1{
    color: red;
    font-size: 1rem;
    margin-bottom: 0.9rem;
}
.hero-section{
    font-size: 3rem;
    margin-bottom: 0.3rem;
}
.hero-sub-section{
    font-size: 0.9rem;
    opacity: 0.7;
}
.users{
    display: flex;
    align-items: center;
    margin: 1rem 0px;
}
.user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid red;
}
button{
    font-size: 2rem;
    padding: 0.6rem;
    font-weight: bold;
    color: white;
    background: red;
    border-radius: 10px;
    cursor: pointer;
    border: none;   
}

button:hover{
    background: darkred;
    color: black;
    border:none ;
    outline: 1px solid red;
}